.container {
	background: var(--chayns-color--secondary-100);
}

table,
.container > h2 {
	width: 100%;
	padding: 0.6rem;
}

.table-col-time {
	width: 40%;
	text-align: left;
}

.table-col-state {
	width: 20%;
	text-align: left;
}

.table-col-height {
	width: 40%;
	text-align: left;
}

.settings {
	display: flex;
	gap: 1rem;
}

table.not-interactive {
	padding: 0.5rem;
}
