.loading {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.hidden {
	display: none;
}

.flex {
	display: flex;
	gap: 1rem;
}

:root {
	--font-size--factor: 1;
}

.font-size--1\.5 {
	--font-size--factor: 1.5 !important;
}

.font-size--2 {
	--font-size--factor: 2 !important;
}

.font-size--2\.5 {
	--font-size--factor: 2.5 !important;
}

.font-size--3 {
	--font-size--factor: 3 !important;
}

.font-size--3\.5 {
	--font-size--factor: 3.5 !important;
}

.font-size--4 {
	--font-size--factor: 4 !important;
}

.font-size--4\.5 {
	--font-size--factor: 4.5 !important;
}

.font-size--5 {
	--font-size--factor: 5 !important;
}

h1.font-size {
	font-size: calc(1.8rem * var(--font-size--factor)) !important;
}

.font-size h2 {
	font-size: calc(1.5rem * var(--font-size--factor)) !important;
}

.font-size {
	font-size: calc(1rem * var(--font-size--factor)) !important;
}
